<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="#">cesbecer</a>
      by <a href="#">Cesar Becerra, following the complete ruby on rails developer course</a>
    </small>
    <nav>
      <ul>
        <il><%= link_to "About", about_path %></il>
      </ul>
    </nav>
  </footer>
</div>